.weather-header {
    background-image: linear-gradient(to right, dodgerblue , midnightblue);
  }

#search-button {
    background-color: dodgerblue;
}

#forecastCol {
  background-color:midnightblue;
}